{{#each users}}
<div class="box">
    <ul class="list">
        <li>
            <img loading='lazy' src="{{url}}" alt="">
            <h1>{{first_name}}</h1>
            <h2>{{last_name}}</h2>
            <p>Gender: {{gender}}</p>
            <a href="mailto: {{emeil}}">{{emeil}}</a>
        </li>
    </ul>

    {{/each}}

</div>